@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.italiana-regular {
  font-family: "Italiana", sans-serif;
  font-weight: 900;
  font-style: normal;
}

@keyframes drive {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100vw);
  }
}

@keyframes imageFlip {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

.flip-container {
  perspective: 1000px;
}

.flip-animation {
  animation: imageFlip 2s infinite;
  transform-style: preserve-3d;
}

.flip-animation-front {
  backface-visibility: hidden;
}

.flip-animation-back {
  position: absolute;
  backface-visibility: hidden;
  transform: rotateY(180deg);
}

.sohne-var {
  font-family: "sohne-var";
  src: url(https://mkt-ssr-statics.freetls.fastly.net/assets/_next/static/media/Sohne.cb178166.woff2)
    format("woff2-variations");
  font-weight: 800;
  font-display: block;
}


@media (max-width: 950px) {
  .stripe-row {
    width: 500px;
  }
}
@media (max-width: 500px) {
  .stripe-row {
    width: 350px;
  }
  
}

